{% url 'BlogHome' as home_url %}
{% url 'BlogContact' as contact_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'about' as about_url %}
{% url 'Blog' as blog_url %}


{% load static %}
<div class="navbar mb-1 navbar-expand-lg navbar-dark bg-primary">

  <a class="navbar-brand" href="{{home_url}}">
    <img class='rounded-circle' src="{%static 'common/logo2.png'%}" width="30" height="30" alt="LOGO">
    {% if brand_name %}{{brand_name}} {% else %} WeDevelopers {% endif %}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item  {% if request.path == home_url %} active{% endif %}">
        <a class="nav-link" href="{{home_url}}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item  {% if request.path == contact_url %} active{% endif %}">
        <a class="nav-link" href="{{contact_url}}">Contacts</a>
      </li>
      
      <li class="nav-item  {% if request.path == about_url %} active{% endif %}">
        <a class="nav-link" href="{{about_url}}">About us</a>
      </li>
      
      <li class="nav-item {% if request.path == blog_url %} active -*{% endif %}">
        <a class="nav-link" href="{{blog_url}}">Blogs</a>
      </li>
      
      <!-- <li class="nav-item  {% if request.path == register_url %} active{% endif %}">
        <a  class="nav-link" href="{{register_url}}">Register</a>
      </li> -->

    </ul>
    <form class="form-inline ml-auto ">
      <input class="form-control mr-sm-2 " type="search" placeholder="Search" aria-label="Search" style="border-radius:10%" >
      <button class="btn btn-warning my-2 my-sm-0 " type="submit" style="border-radius:30%">Search</button>
    </form>
  
  <div class="form-inline">
    {% if user.is_authenticated %}
          <ul class="navbar-nav mr-2 ">
          <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style='color:white;' role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Welcome {{request.user.username}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/logout">Log Out</a>
          
        </div>
          </li>
          </ul>
          {% else %}
          <button type="button" class="btn btn-danger mx-2 my-2 mx-xs-2 mx-sm-2 my-sm-1 my-xs-3 " data-toggle="modal" data-target="#loginModal" style="border-radius:30%">Login</button>
          <!-- Button trigger to SignUp modal -->
          <button type="button" class="btn btn-danger mx-2  mx-xs-2 mx-sm-2 my-2 my-sm-1 my-xs-3 custom" data-toggle="modal" data-target="#signupModal" style="border-radius:30%">Join Us</button>
          {% endif %}
        </div>
        </div>
      </div>
      </nav>

       <!--Login Modal -->
<div class=" modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="loginModalTitle">Login to WeDevelopers</h1>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <form action="/login" method="post">{% csrf_token %}
          <div class="form-group">
            <label for="username">Enter Your Username or Email Id</label>
            <input type="text" required class="form-control" id="usernamelogin" name="usernamelogin" placeholder="Your name or email">
          </div>
          
          <div class="form-group">
            <label for="pass">Enter Your Password</label>
            <input type="password" required class="form-control" id="passlogin" name="passlogin" placeholder="Enter Your Password">
          </div>
          <button type="submit" class="btn btn-primary">Log In</button>
        </form>

      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>
{% include 'base/registration_form.html' %}
