{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<style>
.display-4{font-size: 30px;font-weight: bolder;color: white;}
.for{display: flex;justify-content: center;}
.lead{font-size: 15px;}
/* button css  */
.custom{display: inline-block;border-radius: 4px;background-color: #17a2b8;border: none;border-radius:50px;color: #FFFFFF;text-align: center;font-size: 28px;padding: 20px;width: 220px;transition: all 0.5s;cursor: pointer;margin: 1px;}
.custom span {cursor: pointer;display: inline-block;position: relative;transition: 0.5s;}
.custom span:after {content: ' \263B';position: absolute;opacity: 0;top: 0;right: -20px;transition: 0.5s;}
.custom:hover span {padding-right: 25px;}
.custom:hover span:after {opacity: 1;right: 0.25;}
</style>
{% endblock custom_css %}
{% block blog_home_block %}
<div class="bg-info jumbotron-fluid">
  <p class="display-4 text-center"> Search Results : {query} </p>
</div>
<hr class="featurette-divider">
<div class="container my-2">
<div class="row featurette ">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper Lorem ipsum dolor sit Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempori amet consectetur adipisicing elit. Quis quasi voluptatem facilis nobis quam vitae distinctio. Quisquam eius voluptate laudantium? nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        <div class="for">
          <a href="#"  class="btn btn-danger btn-lg custom my-4"><span class="readdoc">Read</span></a>
        </div>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image  img-fluid rounded-circle mr-0" data-src="holder.js/500x500/auto" alt="500x500" style="width:300px; height: 300px;" src="{% static 'common/cone.jpg' %}" data-holder-rendered="true">
      </div>
</div>
</div>
<hr class="featurette-divider">
{% endblock blog_home_block %}