{% extends 'base.html' %}
{% load static %}
{% block custom_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
<link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/product/">
<!--  Typed.Js  -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/typed.js"></script>
<style>
.typingJS{
  font-size: 3rem;
  color: #fff;
}
.font-color-change{
  color: black;
}


</style>

{% endblock custom_css %}
{% block blog_home_block %}

<section class="size text-center mt-1" >
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-info">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4  font-weight-normal typingJS"><span id="typed"></span></h1>
      <p class="lead font-color-change font-weight-normal mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero voluptates accusamus neque deleniti quidem impedit similique suscipit assumenda qui quod illum, ex quia ea rem. Iusto reiciendis veniam quasi eligendi nisi quis neque eveniet dolore. Tempora aut cupiditate similique esse explicabo, deserunt quo, perferendis maiores dolore, iusto animi iure tempore! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe, blanditiis.</p>
      <p>
      <a class="btn btn-primary custom" href="#"><span>Blogs</span></a>
      <a class="btn btn-primary custom" href="#"><span>Contact</span></a>
    </p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
  <div class="container">
    <div class="jumbotron p-3 p-md-5 text-white rounded bg-primary">
      <div class="col-md-10 px-0">
        <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
        <p class="lead my-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, modi aliquam. Cumque enim delectus soluta iste libero quas aperiam culpa voluptate, ratione vero voluptates quasi, eligendi a, hic odio quam placeat nobis reiciendis doloribus modi quia quaerat eaque quae similique! Quibusdam quasi rem non totam deserunt esse ea. Beatae, vel!.</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row container featurette">
    <div class="col-md-7">
      <h1 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h1>
      <p class="lead" style="text-align:left ;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore iste recusandae in rem id praesentium iure facere quasi optio voluptatem voluptate rerum, provident quas vero sit quae! Consequatur dicta odio nam quis eaque fugiat nobis amet tempora perspiciatis nostrum possimus iure neque, dolorem eum quasi dolore molestias id debitis aperiam.</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image  img-fluid mr-0" data-src="holder.js/500x500/auto" alt="500x500" style="width:300px; height: 300px;" src="{% static 'common/ctwo.jpg' %}" data-holder-rendered="true">
    </div>
  </div>

  <div class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-primary rounded shadow-sm">
      <img class="mr-3 rounded-circle" src='{% static 'common/logo2.png' %}' alt="" width="48" height="48">
      <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">WeDevelopers</h6>
        <small>Since 2020</small>
      </div>
      <p class="ml-4">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque ipsa tempore accusantium. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit.</p>
    </div>
  </div>
  <hr class="featurette-divider">

  <div class="row container featurette">
    <div class="col-md-7 order-md-2">
      <h1 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h1>
      <p class="lead"style="text-align:right ;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt omnis reprehenderit corrupti dolore rem temporibus itaque odit in? Neque velit unde asperiores non exercitationem fugit dicta laboriosam! Aliquid at, enim eum sapiente voluptatibus magni corrupti, veniam eius amet est suscipit doloremque doloribus facere debitis ab accusantium eos, porro quos facilis.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{% static 'common/cfour.jpg' %}" data-holder-rendered="true" style="width: 300px; height: 300px;">
    </div>
  </div>


  <div class="bg-dark jumbotext my-4 jumbotron-fluid">
      <p class="display-4">Our Recent Blogs</p>
  </div>

  <div class="tabs mt-4 lead is-boxed is-centered">
    <ul>
      <li class="is-active">
        <a href="#">Web-Development</a>
      </li>
      <li>
        <a href="#">Coding</a>
      </li>
      <li>
        <a href="#">Technology</a>
      </li>
      <li>
        <a href="#">Trends</a>
      </li>
    </ul>
  </div>
</section> 



  <div class="container mt-4">
  <div class="row  col-12">
    <div class="col">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{% static 'common/cfive.jpg' %}" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="{% static 'common/cfive.jpg' %}" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">wedevelopers</p>
          <p class="subtitle is-6">@WeDevelopers</p>
        </div>
      </div>
  
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris. <a>@WeDevelopers</a>.
        <a href="#">#css</a> <a href="#">#wedevelopers</a>
        <br>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
      </div>
    </div>
  </div>
</div>

<div class=" col">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{% static 'common/cfive.jpg' %}" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="{% static 'common/cfive.jpg' %}" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">WeDevelopers</p>
          <p class="subtitle is-6">@WeDevelopers</p>
        </div>
      </div>
  
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris. <a>@WeDevelopers</a>.
        <a href="#">#css</a> <a href="#">#wedevelopers</a>
        <br>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
      </div>
    </div>
  </div>
</div>
<div class="col">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{% static 'common/cfive.jpg' %}" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="{% static 'common/cfive.jpg' %}" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">wedevelopers</p>
          <p class="subtitle is-6">@wedevelopers</p>
        </div>
      </div>
  
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris. <a>@wedevelopers</a>.
        <a href="#">#css</a> <a href="#">#wedevelopers</a>
        <br>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
      </div>
    </div>
  </div>
</div>
<div class=" col">
  <div class="card">
    <div class="card-image">
      <figure class="image is-4by3">
        <img src="{% static 'common/cfive.jpg' %}" alt="Placeholder image">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-left">
          <figure class="image is-48x48">
            <img src="{% static 'common/cfive.jpg' %}" alt="Placeholder image">
          </figure>
        </div>
        <div class="media-content">
          <p class="title is-4">wedevelopers</p>
          <p class="subtitle is-6">@wedevelopers</p>
        </div>
      </div>
  
      <div class="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Phasellus nec iaculis mauris. <a>@wedevelopers</a>.
        <a href="#">#css</a> <a href="#">#wedevelopers</a>
        <br>
        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
      </div>
    </div>
  </div>
</div>
</div>
</div>

</div>

<section id="help">
<div class="container text-center wow animated zoomIn" data-wow-delay="0.100ms">
<div class="row section-title ">
<div class="col-sm-12" style="margin-top: 70px;">
<h2>HOW TO GET HELP FROM US.</h2>
<hr class="title-border">
<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 ">
<i class="fa fa-thumbs-o-up fa-5x"></i>
<h4 style="color: rgba(168,168,168);">LIKE US! SPREAD THE WORD!</h4>
<p>Like us? Well spread the word! Let your friends' neighbors and more importantly us how well things got done. Or follow us on our social medias for scoop on the latest gadgets, elegant appliances, funnies, and pictures of us...doing<br> things.</p>
</div>
</div>
</div>
</div></section>


<section id="followus">
  <div class="hovereffect" style="margin-top:50px; margin-bottom:50px;">
  <img class="img-fluid" src="{% static 'common/cfive.jpg' %}" alt="follow" style="width:100%; height:300px;">
  <div class="overlay">
  <h2>FOLLOW US</h2>
  <p class="set1">
  <a href="#">
  <i class="fa fa-twitter"></i>
  </a>
  <a href="#">
  <i class="fa fa-facebook"></i>
  </a>
  </p>
  <hr>
  <hr>
  <p class="set2">
  <a href="#">
  <i class="fa fa-instagram"></i>
  </a>
  <a href="#">
  <i class="fa fa-github"></i>
  </a>
  </p>
  </div>
  </div>
  
  </section>

 <!--Typed.Js -->
  <div class="typed-strings"></div>
{% endblock blog_home_block %}
  {% block js %}
<script>
  var typed = new Typed('#typed',{
  strings:["Welcome To WeDevelopers","Web-Development","Coding Blogs","Tech Blogs"],
  backSpeed: 15,
  smartBackspace: true,
  backDelay: 1200,
  startDelay: 1000,
  typeSpeed: 25,
  loop: true,

  });
  </script>
  {% endblock js %}


