{% load static %}
.bd-placeholder-img{
    -moz-box-shadow: 0px 6px 5px #ccc;
    -webkit-box-shadow: 0px 6px 5px #ccc;
    box-shadow: 0px 6px 5px #ccc;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius:190px;
    }
.rounded-circle{
    cursor:pointer;
    border-radius: 50px;
}

.custom {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    border-radius:50px;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1px;
    }
    
.custom span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    }
    
.custom span:after {
    content: ' \263B';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
    }
    
.custom:hover span {
    padding-right: 25px;
    }
    
.custom:hover span:after {
    opacity: 1;
    right: 0.25;
    
    }
.sec {
    border-radius: 25px;
}
.view {
    height: 180px;
}
.mainbox {
    border-radius: 25px;
}
.typingJS {
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Times New Roman', Times, serif;
}