a.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.8rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
}

.btn-warning {
    color: #f9fbfd;
    background-color: #367ab5;
    border-color: #367ab5;
}

.btn-danger {
    color: #fff;
    background-color: #367ab5;
    border-color: #3583dc;
}

body {
    margin: 0;
    font-family: --accent-font;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #095db7;
    text-align: left;
    background-color: #e9ecef;
}

.bg-primary {
    background-color: #0e3b80!important;
}

.h1, h1 {
    font-size: 1.8rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
}

.bg-dark {
    background-color: #053769!important;
}

.p-md-5 {
    padding: 5rem!important;
}

.lead {
    font-size: 1.7rem;
    font-weight: 300;
}

.text-white {
    color: #dee2e6!important;
}