
.bg-primary {background-color: #27292b!important;}

a.navbar-brand {
    display: inline-block;
    margin-top: 6px;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    line-height: inherit;
    white-space: nowrap;
}
