
.bg-primary {background-color: #27292b!important;}

a.navbar-brand {
    display: inline-block;
    margin-top: 6px;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.2rem;
    line-height: inherit;
    white-space: nowrap;
}

.btn-warning {
    border-color: #17a2b8;
}

.btn {
    background-color: #17a2b8;
    color: #f8f9fa;
}

.btn-danger {
    border-color: #17a2b8;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fab3;
}